body {
	font-family: NeuzeitGro-Lig;
}

h1, h2, h3, h4, h5 { 
	font-family: NeuzeitGro-Lig; 
	font-weight: normal; 
	font-style: normal; 
}

.container {
	background-color: #FFF3C9;
	width: 600px

}

h2 {
	float: left; 
	margin: 1.66666666666667%
}


	
