body {
	font-family: NeuzeitGro-Lig;
}

.container {
	width: 600px;
	margin: auto;
	padding: 10px;
}

section {
	background-color: #FFF3C9;
	float: left;
}

h1, h2, { 
	font-family: NeuzeitGro-Lig; 
	font-weight: normal; 
	font-style: normal; 
}



	
